title {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    font-size: large;
    color: #0bcdfe
}

header {
    background: rgb(0, 140, 255);
    color: white;
    padding: 20px;
    text-align: center;
}
header h1 {
    font-size: 30px;
}
nav {
    text-align: center;
    display: inline-block;
    width: 100%;
    height: 70%;
    background-color: rgb(34, 222, 255);
}
nav ul {
    list-style:  none;
    margin-top: 10px;
}
#gallery img {
    width: 30%;
    height: 10%;
    border-radius: 10px;
    border-color: rgb(0, 255, 255);
    transition: all 0.3s ease;
}
#gallery img:hover {
    filter: brightness(90%);
    box-shadow: 0 8px 15px rgba(0,0,0,0.3);
    transform: rotate(5deg) scale(1.05)
} 
cursor {
    color: #0bcdfe; 
}
footer p {
    text-align: center;
    line-height: 20px;
    background-color: rgb(255, 255, 255);
}
main {
    background-color: #bdf8f3;
    font-size: medium;
}
/* li {
    width: 50%;
    display:
} */
nav ul {
  list-style: none;
  padding: 0;
  text-align: center;
}
nav ul li {
  display: inline;
  margin: 0 15px;
}

nav ul li a {
  text-decoration: none;
  font-weight: bold;
  color: #007BFF;
}
nav ul li a:hover {
  text-decoration: underline;
  color: #0056b3;
}
.skip-link {
    position: absolute;
    top: 0;
    left: 0;
    background: #00d5ff;
    color: #fff;
    padding: 5px;
    z-index: 1;
}

.skip-link:focus {
    top: 0;
}
nav img {
    width: 10%;
}
.Creator {
    display: grid;
    grid-template-columns: 40% 40%;
    gap: 20px
}
.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
